<div id="create-windturbine-modal" class="modal" style="display: none;">
    <button class="btn-close-modal"><i class="fas fa-times"></i></button>

    <div>

    </div>

    <form>
        <input type="number" id="field-coords-x">
        <input type="number" id="field-coords-y">

        <input type="submit">

    </form>
</div>
