<div id="battery-div">

    <h2>Batteries</h2>

    <!-- Hidden template table -->
    <table id="battery-table-template" style="display:none;">
        <tr id="template-battery-row">
            <td> <span class="battery-name">Name </span></td>
            <td> <span class="battery-capacity">Cap</span></td>
            <td> <span class="battery-max">Max</span></td>
            <td> <span class="battery-fill">Fill</span></td>
        </tr>
    </table>
    <table id="battery-table">
        <thead>
            <tr>
                <th><i class="fas fa-car-battery"></i> Name</th>
                <th><i class="fas fa-battery-half"></i> Capacity</th>
                <th><i class="fas fa-battery-full"></i> Max Capacity</th>
                <th> Fill Goal</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
