<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css' />
    <script src="https://kit.fontawesome.com/a4453f6c6f.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
    <% include tab.ejs%>

    <% include header.ejs %>

    <% include dashboard.ejs %>

    <% include footer.ejs %>

    <% include modals/create-windturbine.ejs %>
</body>

</html>