<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/register.css' />
    <link rel='stylesheet' href='//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css' />
    <script src="https://kit.fontawesome.com/a4453f6c6f.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>

        <% include header.ejs %>


    <div id="register">
        
        <form action="/auth/user/add" method="post" id="registerform">
          
            <div class="container">
              <label for="name"><b>Name</b> <span class="required">*</span></label>
              <input type="text" name="name" required>

              <label for="adress"><b>Adress</b><span class="required">*</span></label>
              <input type="text" name="adress" required>
              
              <label for="co"><b>C/O</b></label>
              <input type="text" name="co">

              <label for="city"><b>City</b><span class="required">*</span></label>
              <input type="text" name="city" required>

              <label for="country"><b>Country</b><span class="required">*</span></label>
              <input type="text" name="country" required>

              <label for="email"><b>Email</b><span class="required">*</span></label>
              <input type="email" name="email" required>
          
              <label for="psw"><b>Password</b><span class="required">*</span></label>
              <input type="password" name="psw" required>
          
              <button type="submit">Register</button>
            </div>
          </form> 

          <div class="container" style="background-color:#f1f1f1">
            <form action="/">
              <button type="submit" class="cancelbtn">Cancel</button>
            </form>
          </div>

    </div>

</body>

</html>