<div id="turbine-div">
    <h2>Wind Turbines</h2>

    <!-- Hidden template table -->
    <table id="wind-table-template" style="display:none;">
        <tr id="template-turbine-row">
            <td> <span class="turbine-name">Name </span></td>
            <td> <span class="turbine-speed">speed</span></td>
            <td> <span class="turbine-production">Production</span></td>
            <td> <span class="turbine-status">Status</span></td>
        </tr>
    </table>
    <table id="wind-table">
        <thead>
            <tr>
                <th><i class="fas fa-fan"></i> Name</th>
                <th><i class="fas fa-wind"></i> Wind Speed</th>
                <th><i class="fas fa-bolt"></i> Production</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <input type="button" value="Create turbine" class="button" id="btn-create-wind">
</div>